# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\luise\Desktop\Universidad\2021\Programacion II\segunda parte\TP FINAL\2021C1-TP_CentroVacunacion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
